/* .button{
    border-radius: 1rem;
} */
/* .label{
    white-space: nowrap;
} */
/* .button{
  display: inline-flex;
  align-content: center;
  padding: 5px 20px; 
  font-family: Inter; 
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 400; 
  background-color: #0D8D74FF;
  border: none;
  color: white;
  border-radius: 4px;
  transition: .3s linear;
}
.label{
    color: black;
    white-space: nowrap;
    background-color: #0D8D74FF;
}
  */