.carousel{
    /* width: 100%; */
    overflow: hidden;
    max-width: var(--max-width);
    margin: 0 auto;
    position: relative;
}
.slider{
     display: flex;
    margin: 0 auto; 
     width: 100%; 
    animation: slide 15s infinite;
}
.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    flex: 1 0 100%;
    position: relative;
    border: 5px solid red;
}
.slide img{
    width: 100%;
    min-height: 50%;
    /* height: auto; */
    display: block;
    object-fit: cover;
}


@keyframes slide {
  0% { transform: translateX(0%); }
  20% { transform: translateX(0%); }
  25% { transform: translateX(-100%); }
  45% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
  70% { transform: translateX(-200%); }
  75% { transform: translateX(-100%); }
  95% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

