.projects{
    /* background-color: #F3F4F66E; */
    background-color: black;
    color: var(--white);
}
.projects_container{
    padding: 1.7rem 2rem;
    max-width: var(--max-width);
    margin: auto;
    display: grid;
}
.projects_top{
    display: grid;
}
.projects_title{
    text-transform: uppercase;
    font-size: clamp(1.9rem, 2.5vw, 2.5rem);
    margin-bottom: 3rem;
     background: var(--linear-gradient);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.projects_text{
     font-size: clamp(.8rem, 10vw, 1.1rem);
    line-height: clamp(2rem, 2.5vw, 2.3rem);
    margin-bottom: 1.7rem;
    padding-left: 1rem;
    text-align: center;
}
.projects_tiles{
    display: grid;
    gap: 1.5rem;
}
.projects_tile{
     display: grid;
     padding: 1rem;
     background-color: rgb(1, 1, 18);
     border: none;
     box-shadow: rgba(125, 226, 206, 0.2) 0px 8px 24px;
}
.projects_tile_title{
    margin: 1em 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color-blue);
    font-weight: bolder;
}
.projects_tile_text{
    margin-bottom: 1.3em;
    line-height: clamp(2rem, 2.5vw, 2.3rem);
}
.projects_pic{
    display: block;
    margin: 0 auto;
    object-fit: cover;
     box-shadow:  3px 3px 5px black;
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.projects_button:hover{
    background: var(--linear-gradient);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
@media (min-width: 830px){
    .projects{
        padding: 5rem 0;
    }
    .projects_title{
         margin:0 auto 3rem;
    }
    .projects_text{
        text-align: center;
    }
    .projects_tiles{
        grid-template-columns: repeat(3, 1fr);
    }

}