.services{
    background-color: var(--white);
    color: var(--primary-color-green);
    /* position: relative; */
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    z-index: 0;
}
.services_container{
    padding: 1.7rem 2rem;
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    gap: 2em;
}
.services_left{

}
.services_title{
    text-transform: uppercase;
    z-index: 3;
    font-size: clamp(1.9rem, 2.5vw, 2.5rem);
}
.service{
    flex: 1;
    font-size: clamp(.8rem, 10vw, 1.1rem);
    position: relative;

}
.service::after{
    content:"";
    position: absolute;
    top: 30px;
    left: 0;
    border: .5px solid #70A59AFF;
    width: 100%;

}
.service_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.services_right{
    padding: 1em;
}
.services_right_text{
    position: relative;
    line-height: clamp(2rem, 2.5vw, 2.3rem);
}
.services_button{
    color: var(--primary-color-blue);
    margin-top: 2em;
    position: relative;
}
.service_icon{
    position: relative;
}
.service_icon:hover{
    transform: scale(1.3);
}
.services_button::before{
     content: attr(data-text);
        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #00bfa5, #1e88e5, #00ffff, #44956D);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 0.3s ease;
        opacity: 0;
        /* z-index: 1; */
        overflow: hidden;
}
.services_button:hover::before{
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
        opacity: 1;
        z-index: 1;
    }
@media (min-width: 830px){
    .services{
        padding: 5rem 0;
    }
    .services_title{
        margin: 0 auto;
    }
    .services_container{
        grid-template-columns: 1fr 1fr;
    }
    .services_title{
        grid-column: 1 / 3;
    }
    .services_right{
       grid-column: 2 / 3;
       padding: 2em;
    }
    .services_left{
       grid-column: 1 /2;
       place-content: center;
    }
}