.software{
    width: 100%;
    background-color: var(--white);
}
.software_container{
    padding: 1.7rem 2rem;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    margin: 0 auto;

}
.software_title{
      text-transform: uppercase;
      font-size: clamp(1.9rem, 2.5vw, 2.5rem);
      margin-bottom: 3rem;
      background: var(--linear-gradient);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.software_logo_wrapper{
    display: flex;
    align-items: center;
    width: max-content;
  
}
.software_logo_wrapper > img{
    margin-right: 30px;
}

@media(min-width: 700px) {
    .software{
        padding: 2rem 0 5rem;
    }
    .software_container{
        align-items: center;
        justify-content: center;
    }
    .software_title{
        text-align: center;
    }
}