.software{
    width: 100%;
    background-color: #a9cbf42e;
}
.software_container{
    padding: 1.7rem 2rem;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    margin: 0 auto;

}
.software_title{
     font-size: clamp(1.9rem, 2.5vw, 2.5rem);
     color: var(--primary-color-blue);
     margin-bottom: 2.5rem;
     text-shadow:  .3px .3px .5px var(--primary-color-green);
}
.software_logo_wrapper{
    display: flex;
    align-items: center;
    width: max-content;
  
}
.software_logo_wrapper > img{
    margin-right: 30px;
}

@media(min-width: 700px) {
    .software{
        padding: 2rem 0 5rem;
    }
    .software_container{
        align-items: center;
        justify-content: center;
    }
    .software_title{
        text-align: center;
    }
}